<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <% application_name = ShopifyApp.configuration.application_name %>
    <title><%= application_name %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
    <script>
      window.appConfig = {
        apiKey: "<%= j ShopifyApp.configuration.api_key %>",
        shopOrigin: "<%= "https://#{ @shop_session.url }" if @shop_session %>",
        debug: <%= Rails.env.development? ? 'true' : 'false' %>,
      }
    </script>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <div class="app-wrapper">
      <div class="app-content">
        <main role="main">
            Welcome to my app! (version 2)
        </main>
      </div>
    </div>
  </body>
</html>
